<a href="https://colab.research.google.com/github/jeffreyboschman/heartAttackStats/blob/main/SQL%2BmachineLearningExamples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up database (MySQL)

This was my first time using MySQL, so it took me a little while to figure out. Here are the steps I took:
1. Download and install MySQL Community Server v8.0.25 for macOS (from https://downloads.mysql.com/archives/community/). From here, I could see MySQL.prefPane in my System Preferences and establish a connection to `localhost`. 
 - In order to run MySQL from command line, I also had to append `/usr/local/mysql/bin` to the `$PATH` variable in `~/.bashrc`. But with the GUI of MySQL Workbench (see next step), I won't need the command line much. 
2. Download and install MySQL Workbench v8.0.22 for macOS (I had to downgrade the version twice because of various bugs) from the archives (https://downloads.mysql.com/archives/workbench/). 
3. Next, because I knew that I wouldn't be able to connect to `localhost` from GoogleColab, I had to setup a database on a remote server. 
4. The data that I wanted to put into a database is from Kaggle. I downloaded them as csv files
5. To convert the csv to database, i used this: https://www.databasestar.com/mysql-workbench-import-csv/

# Setting up database (SQLLite)

1. The first step is to make sure SQLite installed. You can check the version with `sqlite3 --version` 
  - It should come bundled with Python, but if not you can do `brew install sqlite3` from the CLI
2. The data that I want to put into a database is from Kaggle. I downloaded them as csv files.
3. Next we want to convert the .csv files into databases. (you can see the SQLite command line commands here https://sqlite.org/cli.html)

# Accessing database (MySQL Python connector)

In [ ]:
import sqlalchemy
HOSTNAME = 'ENTER_HOSTNAME'
USER = 'ENTER_USERNAME'
PASSWORD = 'ENTER_PASSWORD'
DATABASE = 'ENTER_DATABASE_NAME'
 
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
 
engine = sqlalchemy.create_engine(connection_string)

query = f"SELECT * FROM {DATABASE}.{TABLE}"
 
import pandas as pd
df = pd.read_sql_query(query, engine)

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.commit()

print("Table created successfully");

conn.close()

Opened database successfully
Table created successfully

https://learnsql.com/blog/free-online-datasets-to-practice-sql/

https://www.kaggle.com/rashikrahmanpritom/heart-attack-analysis-prediction-dataset

In [ ]:
!rm -rf heartAttackStats
!git clone https://github.com/jeffreyboschman/heartAttackStats.git

Cloning into 'heartAttackStats'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (9/9), done.
Unpacking objects: 100% (11/11), done.
remote: Total 11 (delta 2), reused 8 (delta 1), pack-reused 0

In [ ]:
import pandas as pd

data = pd.read_csv('/content/heartAttackStats/data/heart.csv')   
heart_df = pd.DataFrame(data)

print(heart_df)

     age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0     63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1     37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2     41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3     56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4     57    0   0     120   354    0  ...     1      0.6    2    0      2       1
..   ...  ...  ..     ...   ...  ...  ...   ...      ...  ...  ...    ...     ...
298   57    0   0     140   241    0  ...     1      0.2    1    0      3       0
299   45    1   3     110   264    0  ...     0      1.2    1    0      3       0
300   68    1   0     144   193    1  ...     0      3.4    1    2      3       0
301   57    1   0     130   131    0  ...     1      1.2    1    1      3       0
302   57    0   1     130   236    0  ...     0      0.0    1    1      2       0

[303 rows x 14 columns]

In [ ]:

conn = sqlite3.connect('heart_db.db')
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      season integer, 
                      total_goals integer);''')

conn.commit()

print("Table created successfully");

conn.close()

In [ ]:
with open ('test.csv', 'r') as f:
    reader = csv.reader(f)
    columns = next(reader) 
    query = 'insert into MyTable({0}) values ({1})'
    query = query.format(','.join(columns), ','.join('?' * len(columns)))
    cursor = connection.cursor()
    for data in reader:
        cursor.execute(query, data)
    cursor.commit()